.gallery-root {
  text-align: center;
  display: grid;
  overflow-y: hidden !important;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-settings {
  display: flex;
  justify-content: center;
  background-color: #222;
  color: white;
  padding-bottom: 5px;
  font-size: 1em;
  > * {
    margin: 5px;
  }
}

.gallery-intro {
  font-size: 15pt;
}
