.gallery-root {
  text-align: center;
  display: grid;
  overflow-y: hidden !important;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
